name: Smoke Test

on:
    pull_request:
        branches: [ "develop", "main" ]

concurrency:
    group: ${{ github.workflow }}-${{ github.ref }}
    cancel-in-progress: true

jobs:
    android:
        name: Android Integration
        runs-on: ubuntu-latest
        steps:
            -   uses: actions/checkout@v4

            -   name: Set up JDK 21
                uses: actions/setup-java@v4
                with:
                    java-version: '21'
                    distribution: 'temurin'
                    cache: gradle

            -   name: Grant execute permission for gradlew
                run: chmod +x gradlew

            -   name: Build Android App
                run: ./gradlew :app:android:buildStaging

    unit-tests:
        name: Unit Tests
        runs-on: ubuntu-latest
        steps:
            -   uses: actions/checkout@v4

            -   name: Set up JDK 21
                uses: actions/setup-java@v4
                with:
                    java-version: '21'
                    distribution: 'temurin'
                    cache: gradle

            -   name: Grant execute permission for gradlew
                run: chmod +x gradlew

            -   name: Run Unit Tests
                run: ./gradlew testAndroidHostTest

    ios:
        name: iOS Integration
        runs-on: macos-latest
        steps:
            -   uses: actions/checkout@v4

            -   name: Build iOS App
                run: |
                    cd app/ios/BaselinesSample
                    
                    xcodebuild \
                      -scheme ios.app \
                      -configuration Debug \
                      -sdk iphoneos \
                      -parallelizeTargets \
                      -showBuildTimingSummary \
                      CODE_SIGNING_ALLOWED=NO
